<page title="Xmldiff"
main_="true"
stog:site-description="Diffs of XML trees"
stog:site-email="zoggy 'AT' bat8 'DOT' org"
stog:site-url="https://zoggy.frama.io/xmldiff"
stog:rss-length="10"
navbar-home="active"
with-contents="true"
section-counter="false"
subsection-counter="false"
>
<ml foo=""><icode defer_="1" lang="ocaml"><contents/></icode></ml>
<release version="" date="">
<if version=""><error_>&lt;release&gt;: missing version</error_></if>
<if date=""><error_><version/>: missing date</error_></if>
<li><a href="https://framagit.org/zoggy/xmldiff/-/archive/&lt;version/&gt;/xmldiff-&lt;version/&gt;.tar.bz2"><version/></a>
<span class="date">[<date/>]</span>:
<contents/>
</li>
</release>

<contents>
<p>
Xmldiff is an OCaml library to compute diffs on XML trees. It also provides
a <a href="http://ocsigen.org/js_of_ocaml">Js_of_ocaml</a>
module to apply patches to the DOM in a browser.
</p>
<section id="download" title="Download">
<p>
Xmldiff is <a href="https://framagit.org/zoggy/xmldiff">hosted on Framagit</a>.
</p>

<subsection id="releases" title="Releases">
<ul>
<release version="0.7.0" date="2021-12-08">
<ul>
<li>use dune to build and install,</li>
<li>rename package <code>xmldiff.js</code> to <code>xmldiff_js</code>.</li>
</ul>
</release>

<release version="0.6.0" date="2021-05-10">
<ul>
<li>upgrade to ocaml 4.12.0,</li>
<li>fix: detection of xmlm version,</li>
<li><code>Xmldiff_js</code>: add optional <code>?doc</code> parameter
  to functions to specify the root document (default is Dom_html.document).</li>
</ul>
</release>

<release version="0.5.0" date="2014-10-21">
<ul><li>fix implementation of XyDiff algorithm,</li>
    <li>when applying patch to DOM, compare only local names,</li>
    <li>xmldiff JS lib does not embed the Xmldiff module, as
     package xmldiff.js already depends on package xmldiff,</li>
    <li>add more tests.</li>
</ul>
</release>

<release version="0.4.0" date="2014-10-09">
<ul><li>Fix implementation of XyDiff algorithm,</li>
    <li>Add more tests.</li>
</ul>
</release>

<release version="0.3.0" date="2014-09-24">
<ul>
<li>Change the algorithm, now use Gregory Cobena's
  <a href="http://gregory.cobena.free.fr/www/Publications/thesis_draft.pdf">Xydiff</a> algorithm,</li>
<li>Change of the patch operation set, now includes <ml>Move</ml>
    and Insert operation can be as <ml>`FirstChild</ml> of a node or
    <ml>`After</ml> a node.
</li>
<li>If js_of_ocaml is installed, a <icode>xmldiff.js</icode> package is installed.
  The <a href="refdoc/xmldiff_js/Xmldiff_js.index.html">Xmldiff_js</a> module contains
  a function to apply a patch to the DOM.
</li>
</ul>
</release>

<release version="0.2" date="2014-09-08">
<ul>
<li>Fix <ext-a href="https://framagit.org/zoggy/xmldiff/-/issues/2">#2</ext-a>:
  error when comparing <icode lang="xml"><![CDATA[<foo/>]]></icode> to
  <icode lang="xml"><![CDATA[<foo><bar/></foo>]]></icode>,</li>
<li>use polymorphic variants not to require <icode>-rectypes</icode> flag,</li>
<li>compile and install <icode>xmldiff.cmti</icode>,</li>
<li>new parameter <ml>~cut</ml> for <ml>Xmldiff.diff</ml> to quicken the comparison
  by lowering precision under some tags.</li>
</ul>
</release>

<release version="0.1" date="2014-03-03">Initial release.</release>
</ul>
</subsection>
</section>

<section id="install" title="Installation">
<p>
To be installed, Xmldiff requires:
</p>
<ul>
<li>OCaml &gt;= 4.12.0,</li>
<li><a href="http://erratique.ch/software/xmlm">Xmlm &gt;= 1.3.0</a>,</li>
<li><a href="http://ocsigen.org/js_of_ocaml">Js_of_ocaml &gt;= 3.11.0</a> [optional,
  for the <icode>xmldiff_js</icode> package]</li>
</ul>
<p>To compile and install:
</p>
<ul>
<li><span class="shell">tar xvfz xmldiff-XXX.tar.gz</span></li>
<li><span class="shell">cd xmldiff-XXX</span></li>
<li><span class="shell">make install</span></li>
</ul>
<p>
This will install the <icode>xmldiff</icode> package
(and eventually the <icode>xmldiff_js</icode>).
</p>
<p>You can also install with <a href="http://opam.ocaml.org/">Opam</a>:</p>
<command-line>opam install xmldiff xmldiff_js</command-line>
</section>

<section id="doc" title="Documentation">
<p>
Reference documentation is <a href="refdoc/index.html">here</a>.
</p>
</section>

<section id="license" title="License">
<p>
Xmldiff is released under the <a href="http://www.gnu.org/licenses/lgpl.html">LGPL v3</a>.
</p>
</section>

<section id="contact" title="Author and contact">
<p>
Maxence Guesdon <tt>&lt;Maxence 'DOT' Guesdon 'AT' inria 'DOT' fr&gt;</tt>
</p>
</section>
</contents>
</page>
